.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc


# Plan files
*.tfplan

# OS/editor
.DS_Store
.idea/
.vscode/
